<h1>Flights</h1>
<p>search</p>
<%= render 'form' %>

<%#= 
<% @flights.each do |flight|%>
<%#=   <ul>
      <li>Departure Airport: <%= link_to flight.departing_airport.airport_name, flight_path(flight) %><%# Arrival Airport: <%= flight.arrival_airport.airport_name</li><br> %>
<%#=   </ul>
<% end %>