<h1>Search Results</h1>
<% if @results > 0 %>
    <% @results.each do |result| %>
        <%= link_to result.name %><br>
    <% end %>
<% else %>
    <p>No flights to where you're searching! Sorry! Try again</p>
<% end %>